.modal {
  display: none;
}

.modal.show {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); 
}

.non-modal {
  display: none;
}

.non-modal.show {
  display: flex;
  justify-content: left; 
  width: 850px;
  margin-top: 20px;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 300px;
  width: 850px;
  min-height: 250px;
  overflow-y: auto;
  resize: vertical;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5facb3;
  color: white;
  height: 30px;
}

.header h6{
  margin-bottom: 0px;
  margin-left: 10px;
}

.close-button {
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.dialog-body {
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  flex: 1
}

.form-group label {
  text-align: left;
  font-weight: bold;
  width: 100px;
}

.form-input {
  flex: 1;
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.criteria-list {
  display: flex;
  margin-top: 10px;
}

.criteria-header {
  margin-top: 10px;
}

.criteria-header h6{
  text-align: left;
  margin: 0px;
  width: 100px;
  font-weight: bold;
}

.criteria-item {
  margin-bottom: 10px;
}

.criteria-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-button {
  background: #f8387f;
  color: white;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.add-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 50px;
  background-color: #f0f0f0;
  position: relative;
}

.error-message{
  color: red;
  position: absolute;
  right: 10px;
}